body {
    margin: 0 0 0 0;
    background-color: #45978a;
    min-height: 100%;
    position: relative;
    font-family: Arial;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.time {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.search {
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    text-align: center;
    transition: .5s;
    transform: scale(1);
}

.search form {
    display: inline;
}

#search-btn {
    background: #ffffff;
    color: #1be6c4;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border: 0 none;
    font-weight: bold;
    cursor:pointer;
    vertical-align:middle;
}

#search-box {
    background: #ffffff;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border: 0 none;
    width: 200px;
    vertical-align:middle;
    outline: none;
}

#search-beer {
    height: 40px;
    vertical-align:middle;
    cursor:pointer;
}

.search:hover {
    transform: scale(1.02);
}

.time:hover {
    transform: scale(1.2);
}